[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
pydantic = {extras = ["email"], version = "*"}
uvicorn = "*"
python-dotenv = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"
